.head-content-space{
    margin-top: 94px;
    border-top:1px solid rgba(128, 128, 128,0.15);
    border-bottom:1px solid rgba(128, 128, 128,0.15);
    padding:48px 0px;
}
.box-info-left-right-space{
    display:flex;
    gap:125px;
}
.right-left-info-50{
    width: 50%;
}
.paragraph-box p{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #33323D;
    margin-bottom: 54px;
}
.content-content-space{
    padding: 48px 0px;
}
.tittle h1{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323D;
}
.container-info{
    display:flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #33323D;
}
input,textarea{
    all:unset;
    box-sizing:border-box;
    background: rgba(51, 50, 61, 0.1);
    border: 1px solid #D9DCED;
    box-sizing: border-box;
    padding: 10px;
}
.label-space{
    margin-bottom: 8px;
}
.container-info input.message{
    height:96px;
}
button.btn-enviar{
    all:unset;
    box-sizing: border-box;
    background: #203A4C;
    padding:17px 24px;
    color:#FFFFFF;
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    cursor:pointer;
    width: 200px;
}
.right-left-info-50 button.btn-enviar:hover{
    background: #5FB4A2;
    box-shadow: 0px 4px 15px rgba(95, 180, 162,0.3)
}
.container-input input:focus, textarea:focus{
    background: rgba(51, 50, 61, 0.1);
    border: 2px solid #000000;
    box-sizing: border-box;
}